@media screen and (max-width:900px) {
    .conteneur {
        max-width: 95%;
        min-width: 320px
    }

}


@media screen and (max-width:750px) {
    .bloc svg {
        font-size: 80px;
    }


    .player h2,
    .player h3 {
        margin: 15px 5px;
        font-size: 22px;
    }

    .player p {
        margin: 15px 5px;
    }
}

@media screen and (max-width:600px) {

    .gestion {
        height: 120px;
        margin: 10px 0;
    }

    #player1,
    #player2 {
        width: 130px;
        top: auto;
        bottom: 5px;
    }

    #start,
    #stop,
    #restart {
        top: 50px;
    }

    .player {
        height: 23vw;
        width: calc(45vw);
        min-width: 150px;
        min-height: 90px;
        max-width: none;

    }

   .player h2,
    .player h3 {

        margin: 5px 5px;
        font-size: 18px;
    }

    .player p {
        margin: 5px 5px;
        width: 45%;
    }


    #playerOne {
        top: auto;
        bottom: 20px;
        left: 0;
    }

    #playerTwo {
        top: auto;
        bottom: 20px;
        right: 0;
    }

    .morpion {
        height: calc(107vw);
        min-height: 425px;
        min-width: 320px;
    }

    .game {
        width: calc(80vw);
        min-width: 320px
    }

    .bloc {
        width: 24vw;
        min-width: 95px;
        height: 24vw;
        min-height: 95px;
        margin: 5px 5px;

    }

    .bloc svg {
        font-size: 90px;
    }
    .player svg{
        font-size: 70px;
    }

}


@media screen and (max-width:530px) {
    .player svg{
        font-size: 50px;
    }
}

@media screen and (max-width:450px) {

    .gestion {
        height: 120px;
    }

    #player1 label {
        text-align: left;
    }

    #player2 label {
        text-align: right;
    }

    .gestion h1 {
        font-size: 22px;
    }
    
    .player P {
        margin: 0;
    }

    #start,
    #stop,
    #restart {
        top: 35px;
        font-size: 12px;
        padding: 3px 2px;
        width: 140px;
        left: calc(50% - 70px);
    }

    .player svg{
        font-size: 40px;
    }

}


@media screen and (max-width:390px) {
    .bloc svg {
        font-size: 60px;
    }


}