/*----------------------------------------------------------------
GLOBAL 
---------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img,
iframe,
video {
  max-width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/*----------------------------------------------------------------
STRUCTURE 
---------------------------------------------------------------- */

body {
  background-color: white;
}

.conteneur {
  max-width: 900px;
  margin: 0 auto;
}


/*----------------------------------------------------------------
GESTION
---------------------------------------------------------------- */

.gestion {
  position: relative;
  margin: 20px 0;
  width: 100%;
  height: 100px;
  border: 1px solid black;
  border-radius: 20px;
}

.gestion h1 {
  text-align: center;
  position: absolute;
  width: 250px;
  margin: 0;
  top: 5px;
  left: calc(50% - 125px);
}

#player1,
#player2 {
  position: absolute;
  width: 130px;
  top: 20px;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

input {
  width: 100%;
  border-radius: 10px;
  padding: 5px 15px;
}

label {
  width: 100%;
  text-align: center;
}

#player1 {
  left: 10px;
}

#player2 {
  right: 10px;
}

#start,
#stop,
#restart {
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  top: 60px;
  width: 150px;
  left: calc(50% - 75px);
  border-radius: 10px;
}

#stop,
#restart {
  display: none;
}



/*----------------------------------------------------------------
MORPION
---------------------------------------------------------------- */

.morpion {
  align-items: center;
  position: relative;
}

.game {
  margin: 0 auto;
  width: calc(56vw);
  max-width: 530px;
}


.bloc {
  cursor: pointer;
  margin: 5px 5px;
  width: 17vw;
  max-width: 150px;
  height: 17vw;
  max-height: 150px;
  border: black solid 1px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.bloc svg {
  font-size: 100px;
}


.player {
  position: absolute;
  text-align: center;
  height: calc(56vw);
  max-height: 480px;
  width: calc(19vw);
  max-width: 150px;
  border: 1px solid black;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
  transform-origin: center center;
  overflow: hidden;
  padding: 5px;
}

.playerCard {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}


.player svg {
  font-size: 80px;
  margin: 0 auto;
}


.player h2 {
  width: 100%;
}

.player p {
  font-size: 40px;
  width: 100%;
}

#playerOne {
  top: 0;
  left: 0;
}

#playerTwo {
  top: 0;
  right: 0;
}


.winner {
  -webkit-animation: flip-scale 2s linear infinite both;
  animation: flip-scale 2s linear infinite both;
}


@-webkit-keyframes flip-scale {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }

  50% {
    -webkit-transform: scale(1.2) rotateY(180deg);
    transform: scale(1.2) rotateY(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateY(0deg);
    transform: scale(1) rotateY(0deg);
  }
}

@keyframes flip-scale {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }

  50% {
    -webkit-transform: scale(1.2) rotateY(180deg);
    transform: scale(1.25) rotateY(180deg) translateY(-45px) translateX(-16px);
  }

  100% {
    -webkit-transform: scale(1) rotateY(0deg);
    transform: scale(1) rotateY(0deg);
  }
}

.winner2 {
  -webkit-animation: flip-scale2 2s linear infinite both;
  animation: flip-scale2 2s linear infinite both;
}


@-webkit-keyframes flip-scale2 {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }

  50% {
    -webkit-transform: scale(1.2) rotateY(180deg);
    transform: scale(1.2) rotateY(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateY(0deg);
    transform: scale(1) rotateY(0deg);
  }
}

@keyframes flip-scale2 {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }

  50% {
    -webkit-transform: scale(1.2) rotateY(180deg);
    transform: scale(1.25) rotateY(180deg) translateY(-45px) translateX(16px);
  }

  100% {
    -webkit-transform: scale(1) rotateY(0deg);
    transform: scale(1) rotateY(0deg);
  }
}